@model PhotoBattles.App.Models.ViewModels.ContestViewModel
@{
    ViewBag.Title = "Edit Contest";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("EditContest", "Contests", FormMethod.Post, new { role = "form" }))
{
    @Html.Partial("_ContestForm")
}

@section scripts{
    <script>
        function hide(obj) {
            var el = document.getElementById(obj);
            el.style.display = 'none';

        }

        function show(obj) {
            var el = document.getElementById(obj);
            el.style.display = '';
        }
    </script>
}