@model PhotoBattles.App.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        @Html.Partial("EditProfile")
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        @if (Model.HasPassword)
        {
            @Html.Partial("ChangePassword")
        }
        else
        {
            @Html.Partial("SetPassword")
        }
    </div>
</div>
