@model dynamic

<h1 class="text-center">Confirm Deleting Picture #@ViewBag.PictureId</h1>

<div class="col-md-4 col-md-offset-4">
    @using (Html.BeginForm("DeletePicture", "Pictures", new { id = ViewBag.PictureId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" name="name" value="Yes" class="btn btn-danger btn-block"/>
    }
    @Html.ActionLink("No", "EditContestPictures", "Pictures", new { area = "Admin", id = ViewBag.ContestId }, new { @class = "btn btn-default btn-block" })
</div>
