@model PhotoBattles.App.Areas.Admin.Models.ViewModels.AdminPicturesViewModel

<h2>Manage Contest [@Model.ContestName] Pictures</h2>

@foreach (var photo in Model.Pictures)
{
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center">
                    <img class="img-thumbnail" src="@photo.Url" style="width: 400px; height: 100%"/>
                </div>

            </div>
            <div class="panel-footer">
                @Html.ActionLink("Delete", "DeletePictureConfirmation", "Pictures", new { area = "Admin", id = photo.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}