@model PhotoBattles.App.Models.BindingModels.PhotoBindingModel

<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Add Photo";
}

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("AddPhoto", "Photos", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
{
    <span>
        @Html.TextBoxFor(m => m.ContestId, new { type = "hidden" })
    </span>
    <span class="btn btn-default btn-primary btn-file">Browse ...
        @Html.TextBoxFor(m => m.PhotoData, new { type = "file", @id = "file-upload" })
    </span>

    <input type="submit" class="btn btn-default btn-primary" value="Add Photo"/>
}

<script>
    
</script>